In [39]:
import pandas as pd

data = {
    'Year': [2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022],
    'Quarter': ['Q1', 'Q2', 'Q3', 'Q4', 'Q1', 'Q2', 'Q3', 'Q4'],
    'Sales_online': [19000, 18000, 14000, 20000, 11000, 14000, 12000, 24000],
    'Sales_instore': [13000, 12000, 17000, 18000, 15000, 19000, 23000, 25000],
    'Expenses_online': [4000, 6000, 8000, 9000, 11000, 7000, 8000, 12000],
    'Expenses_instore': [4300, 5260, 7272, 7382, 12000, 9000, 10000, 8900]
}
data

{'Year': [2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022],
 'Quarter': ['Q1', 'Q2', 'Q3', 'Q4', 'Q1', 'Q2', 'Q3', 'Q4'],
 'Sales_online': [19000, 18000, 14000, 20000, 11000, 14000, 12000, 24000],
 'Sales_instore': [13000, 12000, 17000, 18000, 15000, 19000, 23000, 25000],
 'Expenses_online': [4000, 6000, 8000, 9000, 11000, 7000, 8000, 12000],
 'Expenses_instore': [4300, 5260, 7272, 7382, 12000, 9000, 10000, 8900]}

In [40]:
financial_data = pd.DataFrame(data)
financial_data

,Year,Quarter,Sales_online,Sales_instore,Expenses_online,Expenses_instore
0,2021,Q1,19000,13000,4000,4300
1,2021,Q2,18000,12000,6000,5260
2,2021,Q3,14000,17000,8000,7272
3,2021,Q4,20000,18000,9000,7382
4,2022,Q1,11000,15000,11000,12000
5,2022,Q2,14000,19000,7000,9000
6,2022,Q3,12000,23000,8000,10000
7,2022,Q4,24000,25000,12000,8900

In [41]:
# a
online_sales_q1_2022 = financial_data[
    (financial_data['Year'] == 2022) & (financial_data['Quarter'] == 'Q1')
]['Sales_online'].values[0]
print("(a) Online Sales for Q1 2022:", online_sales_q1_2022)

(a) Online Sales for Q1 2022: 11000

In [42]:
# b
instore_expenses_q3_2021 = financial_data[
    (financial_data['Year'] == 2021) & (financial_data['Quarter'] == 'Q3')
]['Expenses_instore'].values[0]
print("(b) In-Store Expenses for Q3 2021:", instore_expenses_q3_2021)

(b) In-Store Expenses for Q3 2021: 7272

In [43]:
# c
total_sales_q4_2021 = financial_data[
    (financial_data['Year'] == 2021) & (financial_data['Quarter'] == 'Q4')
][['Sales_online', 'Sales_instore']].sum().sum()
print("(c) Total Sales for Q4 2021:", total_sales_q4_2021)

(c) Total Sales for Q4 2021: 38000

In [44]:
# d
online_expenses_2022 = financial_data[
    (financial_data['Year'] == 2022)
]['Expenses_online'].sum()
print("(d) Expenses for Online Channel in 2022:", online_expenses_2022)

(d) Expenses for Online Channel in 2022: 38000

In [45]:
# e
sales_q2_2021 = financial_data[
    (financial_data['Year'] == 2021) & (financial_data['Quarter'] == 'Q2')
][['Sales_online', 'Sales_instore']]
print("\n(e) Sales Data for Q2 2021:")
print(sales_q2_2021)

(e) Sales Data for Q2 2021:
   Sales_online  Sales_instore
1         18000          12000

In [46]:
# f
max_expense_2022 = financial_data[
    (financial_data['Year'] == 2022)
][['Expenses_online', 'Expenses_instore']].max().max()
print("(f) Maximum Expense Recorded in 2022:", max_expense_2022)

(f) Maximum Expense Recorded in 2022: 12000

In [57]:
#Question2

data = {
    'Store': ['Store1', 'Store1', 'Store2', 'Store2'],
    'Product': ['Product1', 'Product2', 'Product1', 'Product2'],
    'Sales': [1000, 1500, 1200, 1800]
}

df = pd.DataFrame(data)

# Stack the DataFrame
stacked_df = df.set_index(['Store', 'Product']).stack()
print("Stacked Data Frame:")
print(stacked_df)

Stacked Data Frame:
Store   Product
Store1  Product1  Sales    1000
        Product2  Sales    1500
Store2  Product1  Sales    1200
        Product2  Sales    1800
dtype: int64

In [48]:
#Question3
# Unstack the DataFrame
unstacked_df = stacked_df.unstack(level='Product')
print("Unstacked Data Frame (Sales by Store):")
print(unstacked_df)

Unstacked Data Frame (Sales by Store):
Product       Product1  Product2
Store
Store1 Sales      1000      1500
Store2 Sales      1200      1800

In [49]:
#Question4
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'HR', 'IT'],
    'Role': ['Manager', 'Developer', 'Assistant', 'Developer'],
    'Salary': [75000, 90000, 50000, 85000]
}

df = pd.DataFrame(data)

# Set multi-index with Department and Role
df_multi_index = df.set_index(['Department', 'Role'])
print("Multi-Index DataFrame (Department and Role):")
print(df_multi_index)

Multi-Index DataFrame (Department and Role):
                     Employee  Salary
Department Role
HR         Manager      Alice   75000
IT         Developer      Bob   90000
HR         Assistant  Charlie   50000
IT         Developer    David   85000

In [50]:
#Question5
hr_employees = df_multi_index.loc['HR']
print("HR Department Employees:")
print(hr_employees)

HR Department Employees:
          Employee  Salary
Role
Manager      Alice   75000
Assistant  Charlie   50000

In [51]:
#Question6
data = {
    'Student': ['John', 'Alice', 'Bob', 'Charlie'],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Grade': ['A', 'B', 'C', 'A']
}

df_grades = pd.DataFrame(data)

# Sort the DataFrame by Subject and Grade
sorted_grades = df_grades.sort_values(by=['Subject', 'Grade'])
print("Sorted Student Grades by Subject and Grade:")
print(sorted_grades)

Sorted Student Grades by Subject and Grade:
   Student  Subject Grade
0     John     Math     A
2      Bob     Math     C
3  Charlie  Science     A
1    Alice  Science     B

In [52]:
#Question7
reset_grades = sorted_grades.reset_index(drop=True)
print("Reset Index of Sorted Grades:")
print(reset_grades)

Reset Index of Sorted Grades:
   Student  Subject Grade
0     John     Math     A
1      Bob     Math     C
2  Charlie  Science     A
3    Alice  Science     B

In [53]:
#Question8
data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'Temperature': [30, 32, 28],
    'Rainfall': [0, 1.2, 0.5]
}

df_weather = pd.DataFrame(data)
df_weather['Date'] = pd.to_datetime(df_weather['Date'])
df_weather.set_index('Date', inplace=True)
print("Weather Data Frame with Date as Index:")
print(df_weather)

Weather Data Frame with Date as Index:
            Temperature  Rainfall
Date
2024-01-01           30       0.0
2024-01-02           32       1.2
2024-01-03           28       0.5

In [54]:
#Question9
sales_data = {
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture'],
    'Product': ['Laptop', 'Phone', 'Table', 'Chair'],
    'Sales': [1000, 2000, 3000, 4000]
}

df_sales = pd.DataFrame(sales_data)
df_sales_multi_index = df_sales.set_index(['Category', 'Product'])
flattened_df = df_sales_multi_index.reset_index()
print("Flattened Product Sales Data Frame:")
print(flattened_df)

Flattened Product Sales Data Frame:
      Category Product  Sales
0  Electronics  Laptop   1000
1  Electronics   Phone   2000
2    Furniture   Table   3000
3    Furniture   Chair   4000

In [55]:
#Question10
product_data = {
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture'],
    'Product': ['Laptop', 'Phone', 'Table', 'Chair'],
    'Sales': [1000, 1500, 2000, 2500]
}

df_products = pd.DataFrame(product_data)
df_products_multi_index = df_products.set_index(['Category', 'Product'])
average_sales = df_products_multi_index.groupby('Category')['Sales'].mean()
print("\nAverage Sales by Category:")
print(average_sales)

Average Sales by Category:
Category
Electronics    1250.0
Furniture      2250.0
Name: Sales, dtype: float64